<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lista de Productos</title>
    <link rel="stylesheet" href="/css/styles.css"> 
</head>

<body>
    <div class="container">
        <h1>Lista de productos</h1>

        <!-- Botón para redirigir a realtimeproducts.handlebars -->
        <a href="/realtimeproducts" class="btn">Ir a Agregar/Eliminar Productos</a>

        {{#if products.length}}
        <div class="product-grid">
            {{#each products}}
            <div class="product-card">
                <h3>{{this.title}}</h3>
                <p><strong>Categoría:</strong> {{this.category}}</p>
                <p><strong>Descripción:</strong> {{this.description}}</p>
                <p><strong>Precio:</strong> ${{this.price}}</p>
                <p><strong>Stock:</strong> {{this.stock}}</p>
                <div class="product-image">
                    <img src="{{this.thumbnail}}" alt="{{this.title}}" class="thumbnail-img">
                </div>
            </div>
            {{/each}}
        </div>
        {{else}}
        <p class="no-products">No hay productos disponibles.</p>
        {{/if}}
    </div>
</body>

</html>