<h2>Products</h2>
<hr>

<ul>
    {{#each products}}
        <li>
            <h3>{{this.name}}</h3>
            <p>{{this.description}}</p>
            <p>{{this.price}}</p>
            <p>{{this.stock}}</p>
            <p>{{this.category}}</p>
            <p>{{this.image}}</p>
            <p>{{this.date}}</p>
            <p>{{this._id}}</p>
            <a href="/productosMongo/{{this._id}}">View</a>
            <a href="/productosMongo/edit/{{this._id}}">Edit</a>
            <a href="/productosMongo/delete/{{this._id}}">Delete</a>
        </li>
    {{/each}}
</ul>